name: Test, Build and Release apk

on:
  push:
    branches: [ master ]
jobs:
  build:
    name: Build apk

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1

    - run: flutter pub get
    #- run: flutter test
    - name: Create a Release APK
      run: flutter build apk --debug --split-per-abi
    - uses: actions/upload-artifact@v2
      with:
        name: release-apk
        path: build/app/outputs/apk/debug/*.apk
    
