name: Test, Build and Release apk

on:
  push:
    branches: [ master ]
jobs:
  build:
    name: Build apk

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-java@v1
      with:
        java-version: '12.x'
    - uses: subosito/flutter-action@v1
      with:
        flutter-version: '1.9.1+hotfix.6'
    - run: flutter format --set-exit-if-changed .
    - run: flutter analyze .
    - name: Create a Release APK
      uses: actions/upload-artifact@v1
      with:
        name: release-apk
        path: build/app/outputs/apk/release/app-release.apk
    - run: flutter pub get
    - run: flutter test
    - run: flutter build apk --debug --split-per-abi
